doctype html
html
    head
        title= title
        link(rel="stylesheet", href="/css/style.css")
    body
        div.container
            h1 CARS Custom Object Table:

            table
                thead
                    tr
                    th Name
                    th Size 
                    th Colour
            tbody
                each record in records
                tr
                    td= record.properties.name
                    td= record.properties.size
                    td= record.properties.colour

            div.button-wrapper 
                a(href="/update-cobj")Update table
